/* By | https://github.com/stigwo */

/* Font CDN from Google */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --theme-color: #ff0000;
  --hover-color: #005ce6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Poppins", sans-serif;
  list-style:none;
}

/* Logo */
.logo{
    filter: drop-shadow(5px 5px 5px white);
}
.bg-default{
    background: #ff0000;
}
.main-heading{
	color: white;
    text-shadow: 2px 3px 4px black;
}
.sub-heading{
    color: white;
    font-weight: 500;
}
/* Navbar */
.navbar {
    background:#4444dd;
}


/* Input field */
.input {
  background-color: transparent;
  border: 2px solid hsl(0, 0%, 90%);
  border-radius: 8px;
  height: 40px;
  font-size: 14px;
  padding: 10px 16px;
  transition: 0.3s all ease;
}

.input:focus {
  border-color: #212529;
}
/* ./Input field */

/* Search */
.search {
  padding: 50px 0;
}

.search .txt h1 {
  font-weight: 600;
}

.search .form {
  display: flex;
}

.search .form input {
  flex: 5;
}
/* ./Search */


/* Bottom Add */
.bottom-ad{
    height: 100px;
    object-fit: cover;
}